name: android_apk

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip openjdk-17-jdk python3-pip git
          pip install --upgrade pip
          pip install cython python-for-android

      - name: Install Android SDK / NDK manually (ONLY build-tools 34.0.0)
        run: |
          mkdir -p $HOME/android/sdk
          cd $HOME/android/

          wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O cmd.zip
          unzip cmd.zip -d sdk/cmdline-tools
          mv sdk/cmdline-tools/cmdline-tools sdk/cmdline-tools/latest

          export ANDROID_SDK_ROOT=$HOME/android/sdk
          export PATH=$PATH:$ANDROID_SDK_ROOT/cmdline-tools/latest/bin

          yes | sdkmanager --licenses

          sdkmanager "build-tools;34.0.0" \
                     "platform-tools" \
                     "platforms;android-33" \
                     "ndk;25.2.9519653"

      - name: Build APK using Python-for-Android
        run: |
          export ANDROID_SDK_ROOT=$HOME/android/sdk
          export ANDROID_NDK_HOME=$ANDROID_SDK_ROOT/ndk/25.2.9519653
          export PATH=$PATH:$ANDROID_SDK_ROOT/platform-tools

          p4a apk \
            --private . \
            --package=org.demo.education.ransomwaredemo \
            --name="RansomwareDemo" \
            --version=1.0 \
            --bootstrap=sdl2 \
            --requirements=python3,kivy \
            --sdk-dir=$ANDROID_SDK_ROOT \
            --ndk-dir=$ANDROID_NDK_HOME \
            --android-api=33 \
            --build-tools=34.0.0

      - uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: *.apk
