name: build_android

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Buildozer dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip openjdk-17-jdk python3-pip libffi-dev libssl-dev autoconf automake libtool pkg-config
          pip install --upgrade pip
          pip install buildozer cython virtualenv

      - name: Patch Buildozer to force build-tools 34.0.0
        run: |
          sed -i 's/"build-tools;36.1.0"/"build-tools;34.0.0"/g' $HOME/.local/lib/python3.11/site-packages/buildozer/targets/android.py
          sed -i 's/36.1.0/34.0.0/g' $HOME/.local/lib/python3.11/site-packages/buildozer/targets/android.py

      - name: Build APK
        run: |
          buildozer android debug

      - uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: bin/*.apk
